@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --pri: #5F3D8C;
        --sec: #0000000D;

        --light_bg_bright: #f3f4f6;
        --light_bg_dim: #F2F2F2;

        --light_border_bright: #d1d5db;
        --light_border_dim: #374151;

        --light_txt: #000000;
        --light_txt1: #374151;
        --light_txt2: #FFFFFF;

        --scroll: #231430;
    }
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

/* Customized Scroll Bar */
::-webkit-scrollbar {
    width: 1.2vw;
}

::-webkit-scrollbar-track {
    background: var(--scroll);
}

::-webkit-scrollbar-thumb {
    background: var(--pri);
    border: 0.3vw solid var(--scroll);
    border-radius: 100vw;
}

body {
    font-family: 'Poppins', sans-serif;
}

.active {
    color: var(--pri);
}

.btnPri {
    @apply text-light_txt2 bg-pri hover:bg-pri transition duration-300 ease-in-out;
}

